# no Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# no csv file
*.csv

# no data folder
data
downloads
404971221000

# no .sav file
*.sav

# no adb key
*/adbkey
*/adbkey.*

# no test file
test.py